* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}


header {
    width: 100%;
    height: 60px;
    background-color: #212343;
    padding-top: 17px;
    
}

.center {
    max-width: 1280px;
    margin: 0 auto;
    cursor: pointer;
}

.banner {
    max-width: 100%;
    height: 557px;
    background-image: url(images/header_bg.png); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

#center {
    max-width: 1280px;
    margin: 0 auto;
    height: 100%;
    
}

.sobre {
   max-width: 549px;
    height: 270px;
    background-color: #212343b1;
    margin-top: 50px;
    color: white;
    padding: 20px;
}

.sobre ul {
    list-style-position: inside;
    margin-top: 50px;
}

ul li {
    margin-bottom: 10px;
    text-align: left;
}

.sobre, form {
    display: inline-block;
}

form {
    max-width: 400px;
    height: calc(100% + 40px);
    background-color: #fff;
    float: right;
    position: relative;
    top: -20px;
    border: 8px solid #cccccc90;
    padding: 10px;
    background-clip: padding-box;
    
}

form h1 {
    font-size: 22px;
    font-weight: normal;
    color: #999999;
    text-align: left;
    
}

.input_container {
    text-align: right;
    margin-top: 20px;
    width: 100%;
}

.input_container label {
    font-size: 17px;
    font-weight: normal;
    color: #bbb;
    float: left;
    margin-bottom: 10px;
}

.input_container input {
    outline: 0;
    width: 100%;
    border: 2px solid #ccc;
    height: 55px;
    padding-left: 20px;
    font-size: 17px;
} 

.camp_obrigatorio {
    text-align: left;
    color: #bbb;
}

button {
    box-sizing: content-box;
    background-color: #212343;
    color: white;
    font-size: 24px;
    padding: 10px;
    width: 250px;
    height: 30px;
    cursor: pointer;
} 

button:hover {
    background-color: #2d315d;
}

.detalhes {
    background-color: bisque;
    text-align: center;
    background-color: #dddd;
}

.detalhes #center {
    padding: 40px 0;
}

.detalhes p {
    text-align: left; 
    max-width: 698px;
    display: inline-block;
    font-size: 18px;
    padding: 10px;
}

.img_seta {
    position: relative;
    top: 20px;
}

.img_seta img {
    width: 40px;
}

.mais_sobre {
    text-align: center; 
    padding-top: 90px;
}

.mais_sobre h1 {
    font-weight: normal;
    color: #462663;
}

.img_inline {
    text-align: center;
    max-width: 1280px;
    margin: auto;
}

#center h1 {
    margin-bottom: 20px;
}

.mercado {
    max-width: 300px;
    display: inline-block;
    margin: 130px 50px;
}

.mercado p {
    text-align: center;
    margin-top: 15px;
}

.mercado h2 {
    margin-top: 20px;
    font-weight: normal;
}

footer {
    border-top: 3px solid rgba(0, 0, 0, 0.641);
    text-align: center;
}

footer p {
    margin: 10px 0;
    color: #bbb;
    font-size: 14px;
}


@media screen and (max-width: 511px) {
    
    .banner {
        height: 610px;
    }

    #center {
        max-width: 1280px;
        margin: 0 auto;
        height: 100%;
    }
    
    .sobre {
        max-width: 250px;
        height: 186px;
        background-color: #212343b1;
        color: white;
        padding: 10px;
        margin-bottom: 30px;
        margin-top: 10px;
    }
    
    .sobre ul {
        margin-top: 0px;
    }
    
    ul li {
        margin-bottom: 10px;
        text-align: left;
        font-size: 14px;
    }
    
    .sobre, form {
        display: inline-block;
    }

    form {
        max-width: 250px;
        height: calc(350px + 40px);
        float: none;
        border: 8px solid #cccccc90; 
    }
    
    form h1 {
        font-size: 17px;
    }
    
    .input_container {
        margin-top: 10px;
    }
    
    .input_container label {
        font-size: 15px;
        margin-bottom: 10px;
    }
    
    .input_container input {
        border: 1px solid #ccc;
        height: 30px;
        font-size: 14px;
    } 
    
    .camp_obrigatorio {
        margin: 13px 0;
        font-size: 15px;
    }
    
    button {
        font-size: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 90%;
        height: 20px;
    } 
    
}





