@charset "UTF-8";

/* Fontes */
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor_header: #FFB266;
    --cor_body: #F8F8F7;

    /* FONTES */

    --fonte_roboto: 'Roboto', sans-serif;
    --fonte_barlow: 'Barlow', sans-serif;
    --fonte_gergia: Georgia, 'Times New Roman', Times, serif;

}

body {
    background-color: #ffff;
    width: 100vw;
}

header {
    background-color: var(--cor_header);
    padding: 7px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    width: 35%;
    padding: 10px 0px; 
}

#div_inpute_lupa {
    display: inline-block;
    position: relative;
    background-color: white;
    border-radius: 30px;
    
}

input {
    width: 200px;
    padding: 14px;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.233);
}

#lupa {
    position: absolute;
    background-color: black;
    color: white;
    border-radius: 50%;
    padding: 6px;
    cursor: pointer;

    transform: translate(-40px, 3.3px);
}

nav {
    display: none;
}

main {
    max-width: 700px;
    padding: 10px;
}

h1 {
    font-family: var(--fonte_barlow);
}

#redes_sociais1 > a > img {
    width: 5.2%;
}

.paragrafo_unico {
    font-family: var(--fonte_roboto);
    font-size: 13px;
    color: #757575;
}

.div_paragrafos {
    border-bottom: 1px solid #baaf9e7b;
    width: 100%;
}

h2 {
    font-family: var(--fonte_barlow);
    font-size: 17px;
    font-weight: bolder;
    color: #333333;
}


span {
    padding: 2px 9px;
    background-color: #BAAF9E;
    color: white;
    font-family: var(--fonte_barlow);
    font-weight: bolder;
    font-size: 16px;
}

.paragrafo_ancorado {
    font-family: var(--fonte_gergia);
    font-size: 20px;

}

.div_paragrafos > p > a {
    color: #595959;
    text-decoration: none;
    display: inline-block;
    border-bottom: 1px dashed #BAAF9E;

}

#ultimo_paragrafo{
    font-family: var(--fonte_roboto);
    font-size: 14px;
    color: #757575;
}

#spanh2, #p_inline {
    display: inline-block;
}

#p_inline {
    font-size: 18px;
    font-family: var(--fonte_barlow);
    color: #333333;
    font-weight: bolder;
}

#p_textarea {
    font-family: var(--fonte_roboto);
    font-size: 16px;
    color: #333333;
    padding-bottom: 8px;
}

textarea {
    width: 100%;
    background-color: #baaf9e0d;
    border-radius: 10px;
    border: 1px solid #BAAF9E;

}

#p_textarea2 {
    color: #BAAF9E;
    font-size: 13px;
    text-align: right;
}

#input_reescrever {
    display: block;
    margin: auto;
    width: 70%;
    border-radius: 7px;
    box-shadow: none;
    font-weight: bolder;
    font-family: var(--fonte_barlow);
    font-size: 1.2em;
    color: #33333362;
    background-color: #75757536;
    margin-top: 10px;
}

#p_direitos {
    color: #757575;
    font-family: var(--fonte_roboto);
    font-size: 13px;
}






    


