* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

header {
    background-color: rgb(180, 180, 180);
    padding: 20px;
}

.center {
    max-width: 1350px;
    margin: auto;
}

.img {
    display: flex;
    justify-content: space-between;
}

img {
    width: 130px;
}

.loguin {
    width: 100%;
    height: 550px;
    background-image: url(imagens/paisagem.jpg);
    background-size: cover;
    background-position: center center;
    text-align: center;
    padding: 20px 0px;

}

form {
    background-color: rgba(255, 255, 255, 0.581);
    height: 500px;
    width: 300px;
    display: inline-block;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.41);
}

form h2 {
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    background-color: rgb(234, 236, 239);
    padding: 20px 10px;
}

.container-geral-input {
    background-color: rgba(255, 255, 255, 0);
    padding: 0px 20px;
}

label {
    display: block;
    text-align: left;
    font-size: 15px;
    margin-top: 30px;
    color: #393939;
}

input {
    width: 100%;
    outline: 0;
    border: 1px solid #ccc;
    height: 40px;
    padding-left: 10px;
    font-size: 14px;
}


.button {
    margin-top: 25px;
}

button {
    height: 40px;
    width: 100%;
    border: none;
    color: white;
    text-transform: uppercase;
    background-color: #033c50;
    cursor: pointer;
    font-size: 18px;
    line-height: 40px;
}

form p {
    text-align: left;
    margin-top: 30px;
}

.img-seta img {
    width: 40px;
    margin-top: 10px;
}

.chamada {
    width: 100%;
    padding: 40px 20px;
    text-align: center;
    background-color: #cccccc6f;
}

.chamada h2 {
    display: inline-block;
    font-size: 35px;
    font-weight: normal;
    margin-bottom: 20px;
}

.chamada p {
    font-size: 26px;
}

.chamada2 {
    padding: 50px 20px;
    text-align: center;
    background-color: rgb(203, 246, 246);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.chamada2 p {
    font-size: 26px;
    width: 100%;
}

.img-chamada {
    background-image: url(imagens/sala1.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 300px;
    margin-top: 40px;
}

.item2 {
    background-color: #d8fbed;
}

.img-chamada2 {
    background-image: url(imagens/sala2.jpg);
}

.item3 {
    background-color:azure ;
}

.img-chamada3 {
    background-image: url(imagens/restaurante.jpg);
}

.item4 {
    background-color: rgba(250, 235, 215, 0.649);
}

.img-chamada4 {
    background-image: url(imagens/vista-mar.jpg);
}

.div-footer {
    text-align: center;
    padding: 50px 0;
    background-color: #96aab1;
}

@media screen and (max-width: 316px) {

    .loguin {
        height: auto;
        padding-bottom: 0;
    }    

    form {
        width: 100%;
        height: auto;
        
    }

    form p {
        margin-bottom: 50px;
    }

    .img-seta {
        position: relative;
        top: 20px;
    }

    .img  {
        display: flex;
        flex-direction: column;

    }

    img {
        width: 100px;
        margin: auto;
    }

    .chamada, .chamada2  p {
        word-wrap: break-word;
    }
}

@media screen and (min-width: 700px){
    form {
        float: right;
        margin-right: 50px;
    }

    img {
        width: 150px;
    }
}

@media screen and (min-width: 900px) {
    .chamada2 {
        flex-direction: row;
    }

    .chamada2 p {
        width: 30%;   
        padding: 10px;
    }

    .img-chamada {
        width: 70%;
        margin-top: 0;
    }

    img {
        width: 200px;
    }
}