@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

body {
    background-image: linear-gradient(to right, blue, aqua);
    width: 100vw;
    height: 100vh;
    
   
}
header {
    margin: auto;
    text-align: center;
    padding: 40px 0px 20px 0px;
    color: white;
}
h1 {
    font-size: 1.8em;
}
form {
    background-color: rgb(0, 72, 135);
    max-width: 600px;
    min-height: 1000px;
    margin: auto;
    color: white;
    box-shadow: 5px 5px 10px black;
    border-radius: 5px;
    padding: 20px;
}
.caixaiugual {
    
    width: 98%;
    padding: 5px;
    margin-top: 4px;
    border-radius: 5px;
    border: none;
    
}
div {
    margin-bottom: 15px;
    
}
textarea {
    background-color: white;
    color: black;
}
#botao {
    background-color: green;
    width: 98%;
    border-style: none;
    padding: 10px;
    color: white;
    
}
